<%- include('partials/html-head') %>
<%- include('partials/nav') %>

    <h1>Sugestions for relaxation:</h1>
    <div class="wrapper">
    <div class="books">
    <a href="/suggestion/Books">Books</a>
    <img class ="fruit-pic1"
    src="https://images.unsplash.com/photo-1667312939934-60fc3bfa4ec0?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="books"
  />
  </div>
    <a href="/suggestion/Activities">Activities</a>
    <a href="/suggestion/Exercises">Exercises</a>
    <a href="/suggestion/Scents">Scents</a>
    <a href="/suggestion/Sounds">Sounds</a>
    <a href="/suggestion/Places">Places</a>
    <img
    class="fruit-pic1"
    src="https://cdn-icons-png.flaticon.com/128/5312/5312448.png"
    alt="happy fruit salad bowl"
  />
</div>
</body>
</html>