<%- include('partials/html-head') %>
<%- include('partials/nav') %>

    <h1>Sugestions for relaxation:</h1>

    <main class="grid-wrapper">
      <section class="grid">
<div id="cell1">
  
  <a class="suggestion-link" href="/suggestion/Scents"><div class="link-text">Scents</div></a>
</div>

<div id="cell2">
  <a class="suggestion-link"href="/suggestion/Sounds"><div class="link-text">Sounds</div></a>
</div>
<div id="cell3">
  <a class="suggestion-link"href="/suggestion/Places"><div class="link-text">Places</div></a>
</div>
<div id="cell4">
  <a class="suggestion-link"href="/suggestion/Activities"><div class="link-text">Activities</div></a>
</div>
<div id="cell5">
  <a class="suggestion-link"href="/suggestion/Exercises"><div class="link-text">Exercises</div></a>
</div>
<div id="cell6">
  <a class="suggestion-link"href="/suggestion/Books"><div class="link-text">Books</div></a>
</div>
      </section>




    <div class="wrapper">  
</div>
<div class="welcome">
</div>
<div class="anotherimage">
</div>
</body>
</html>