@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");


* {
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
    font-family: "DM Sans", sans-serif;
    color: #8c3ecb;
}

body {
   
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200vw;
   
  }
  
  h1 {
    color: #8c3ecb;
    font-size: 3.6em;
  }
  


.grid-wrapper{
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  background-size: contain;
  background-position: center;
  position: relative;

}

.grid{
 
  height: 500px;
  width: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}

.index-grid{
 
  height: 400px;
  width: 1000px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  

}
  

#cell1{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(https://res.cloudinary.com/dpv0j8frj/image/upload/v1737715997/scents_ojofb7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cell2{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(https://res.cloudinary.com/dpv0j8frj/image/upload/v1737716048/sounds_a1utyp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cell3{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(https://res.cloudinary.com/dpv0j8frj/image/upload/v1737715974/places_sprg8w.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#cell4{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(https://res.cloudinary.com/dpv0j8frj/image/upload/v1737715885/activities_gx1apa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cell5{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(https://res.cloudinary.com/dpv0j8frj/image/upload/v1737715957/exercises_rd5us5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cell6{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(https://res.cloudinary.com/dpv0j8frj/image/upload/v1737715930/books_qaqeww.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
  .suggestion-card {
    height: 200px;
    width: 250px;
    background-color: #8c3ecb;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    text-align: center; 
    padding: 0px 10px 15px 10px; 
    margin: 0; 
    box-sizing: border-box; 
    align-content: stretch;
  }

  
  .suggestion-card ul {
    padding: 0; 
    margin: 0; 
    width: 100%; 
    text-align: center; 
    list-style: none; 
  }
  
  .suggestion-card li {
    
    padding: 10px 0px 0px 0px;
    width: 100%; 
    text-align: center; 
  }
  

.suggestion-link{
  text-decoration: none;

}

.link-text{
  background-color: #c65bf4;
  color: white;
  font-size: 1.4em;
  width: 6em;
  padding: 5px 15px;
  margin: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 5px #dcb5e8;
}

.link-text:hover {
  background-color: #dcb5e8;
  box-shadow: 0 5px #c65bf4;
}

.link-text:active {
  background-color: #c65bf4;
  box-shadow: 0 2.5px #dcb5e8;
}


.suggestion-name {
  color: white;
  font-size: large;

}

.suggestion-description{
  color: white;
  font-size: small;
  opacity: 0;
  text-align: center;
  padding: 50px 0px 50px 0px;
  
}



ul{
  list-style:none;
}

.delete-button{
  background-color:transparent;
  background-image: url(https://res.cloudinary.com/dpv0j8frj/image/upload/v1737716027/delete-symbol_cjdt6b.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 35px;
  width: 35px;
  border: none;
  
}

.deletion-text{
  display: none;
}

.edit{
  background-color:transparent;
  background-image: url(https://res.cloudinary.com/dpv0j8frj/image/upload/v1737716028/edit-symbol_zhkuvy.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 35px;
  width: 35px;
  border: none;
  display: inline-block; 
  text-decoration: none;


}

.edit-text{
  display: none;
}

.edit-and-delete{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  padding: 50px 20px 0px 0px;
  opacity: 0;

}


.suggestion-card:hover .suggestion-description{
  opacity: 1;
  padding: 30px 0px 30px 0px;
}


.suggestion-card:hover .edit-and-delete {
  opacity: 1;
  padding: 40px 20px 0px 0px;
  
}