@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");


* {
  box-sizing: border-box;
  /* background-image: url(../images/giphy.webp);*/
  background-size: contain;
  background-position: center;
  /*display: inline-flex;*/
  /*display: flex;
    flex-basis: auto;*/
    background-image: url("../../my-relaxation-api/images/books.jpg");
    font-family: "DM Sans", sans-serif;
    color: #8c3ecb;
}

body {
    /*background: white;*/
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200vw;
    background-image: url("../../my-relaxation-api/images/books.jpg");
  }
  
  h1 {
    color: #8c3ecb;
    font-size: 3.6em;
  }
  


.grid-wrapper{
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  background-size: contain;
  background-position: center;
  position: relative;

}

.grid{
 
  height: 500px;
  width: 750px;
  /*background-color: white;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}

.index-grid{
 
  height: 400px;
  width: 1000px;
 /* background-color: white;*/
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  /*align-items: center;*/

}
  

#cell1{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(../../images/scents.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cell2{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(../../images/sounds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cell3{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(../../images/places.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#cell4{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(../../images/activities.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cell5{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(../../images/exercises.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cell6{
  height: 250px;
  width: 250px;
  flex-basis: auto;
  
  background-image: url(../../images/books.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*.wrapper{
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  background-size: contain;
  background-position: center;
  position: relative;
}
  */



 /* footer {
    font-size: 0.7em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200%;
    text-align: center;
    padding: 10px;
  }*/

  
  .suggestion-card {
    height: 200px;
    width: 250px;
    background-color: #8c3ecb;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally centers the content */
    justify-content: space-between; /* Vertically centers the content */
    text-align: center; /* Centers text inside each line */
    padding: 0px 10px 0px 10px; /* Ensure no extra padding */
    margin: 0; /* Ensure no extra margin */
    box-sizing: border-box; /* Ensures padding and border are included in width/height */
    align-content: stretch;
  }
  
  .suggestion-card ul {
    padding: 0; /* Remove default padding on ul */
    margin: 0; /* Remove default margin on ul */
    width: 100%; /* Ensure it spans the width of the container */
    text-align: center; /* Center-align text within the list */
    list-style: none; /* Remove default bullet points */
  }
  
  .suggestion-card li {
    
    padding: 10px 0px 0px 0px;
    width: 100%; /* Span full width of container */
    text-align: center; /* Center-align individual text items */
  }
  

.suggestion-link{
  text-decoration: none;

}

.link-text{
  background-color: #c65bf4;
  color: white;
  font-size: 1.4em;
  width: 6em;
  padding: 5px 15px;
  margin: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 5px #dcb5e8;
}

.link-text:hover {
  background-color: #dcb5e8;
  box-shadow: 0 5px #c65bf4;
}

.link-text:active {
  background-color: #c65bf4;
  box-shadow: 0 2.5px #dcb5e8;
}


.suggestion-name {
  color: white;
  font-size: large;

}

.suggestion-description{
  color: white;
  font-size: small;
  opacity: 0;
  text-align: center;
  padding: 50px 0px 50px 0px;
  
}

.suggestion-description:hover {
  color: white;
  font-size: small;
  opacity: 1;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

ul{
  list-style:none;
}

.delete-button{
  background-color:transparent;
  background-image: url(../../images/delete-symbol.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  width: 50px;
  border: none;
  
}

.deletion-text{
  display: none;
}

.edit{
  background-color:transparent;
  background-image: url(../../images/edit-symbol.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  width: 50px;
  border: none;
  display: inline-block; 
  text-decoration: none;


}

.edit-text{
  display: none;
}

.edit-and-delete{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  padding: 50px 10px 0px 0px;
  opacity: 0;
  
  
  
}


.edit-and-delete:hover{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  padding: 40px 10px 0px 0px;
  opacity: 1;
  
  
  
}